version: '3.8'

services:
  postgres-rental-db:
    image: postgres:13
    container_name: postgres-rental-db
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=rental_db
    ports:
      - "5432:5432"
    volumes:
      - postgres-rental-data:/var/lib/postgresql/data

  postgres-insurance-db:
    image: postgres:13
    container_name: postgres-insurance-db
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=insurance_db
    ports:
      - "5433:5432"
    volumes:
      - postgres-insurance-data:/var/lib/postgresql/data

  rental-service:
    build:
      context: ./rental-service
      dockerfile: Dockerfile
    container_name: rental-service
    ports:
      - "8081:8081"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-rental-db:5432/rental_db
      SPRING_DATASOURCE_USERNAME: user
      SPRING_DATASOURCE_PASSWORD: password
      SERVER_PORT: 8081
    depends_on:
      - postgres-rental-db

  insurance-service:
    build:
      context: ./insurance-service
      dockerfile: Dockerfile
    container_name: insurance-service
    ports:
      - "8082:8082"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-insurance-db:5432/insurance_db
      SPRING_DATASOURCE_USERNAME: user
      SPRING_DATASOURCE_PASSWORD: password
      SERVER_PORT: 8082
    depends_on:
      - postgres-insurance-db

volumes:
  postgres-rental-data:
  postgres-insurance-data:
